.sample-img1a{width:50px;height:50px;background-image:url(assets/images/a.png)}
.sample-img2a{width:10px;height:10px;background-image:url(assets/images/a.png)}

.sample-img1b{width:50px;height:50px;background-image:url(assets/images/b.png)}
.sample-img2b{width:10px;height:10px;background-image:url(assets/images/b.png)}
